@import url(https://fonts.googleapis.com/css?family=Pacifico);

html{
  height:100vh;
  display:flex;
  flex-flow:column;
  align-items:center;
  justify-content:center;
  overflow: hidden;
}

body{
  background: #010339;
  display:flex;
  flex-flow:column;
  align-items:center;
  justify-content:center;
  max-width:100%;
  width: 1200px;
}

h1{
  color: #eef;
  font-size: 3em;
  line-height:1em;
  margin-bottom: 15px;
  font-family: sans-serif;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.4);
  @media{
    
  }
}

p{
  line-height: 1em;
}

div{
  color: #eef;
  font-family: sans-serif;
  line-height:10px;
  margin:2%;
}

#canvas{
    margin-left:2%;
    background: linear-gradient(#052f7f, #000119); 
}


#controlwrapper{
  display:flex;
  flex-flow:row;
  max-width:100%;
  width:100%;
  padding-top:2rem;
  user-select: none;
}
#leftright{
  display:flex;
  flex-flow: row;
    flex:1;
    width:100%;
    user-select: none;
}
#buttonleft,#buttonright{
  display:flex;
  flex-flow:column;
  align-items:center;
  justify-content:center;
  flex:1;
  font-size:75px;
  width:100%;
  user-select: none;
  cursor: pointer;
  position:relative;
}
#buttonleft::before{
  content:" ";
  position:absolute;
  background-image:url(arrowright.png);
  background-size:contain;
  background-repeat:no-repeat;
  background-position: center;
  width:75px;
  height:75px;
  top:0;
  left:50%;
  transform: rotate(180deg);
}
#buttonright::before{
  content:" ";
  position:absolute;
  background-image:url(arrowright.png);
  background-size:contain;
  background-repeat:no-repeat;
  background-position: center;
  width:75px;
  height:75px;
  top:0;
  left:50%;
}
#jumpbutton::before{
  content:" ";
  position:absolute;
  background-image:url(arrowright.png);
  background-size:contain;
  background-repeat:no-repeat;
  background-position: center;
  width:75px;
  height:75px;
  top:0;
  left:50%;
  transform: rotate(270deg);
}
#jumpbutton{
  display:flex;
  flex-flow:column;
  align-items:center;
  justify-content:center;
  font-size:75px;
  flex:1;
  width:100%;
  user-select: none;
  cursor: pointer;
  position: relative;
}
